/*
background-color: #becae3;
color: #333333;

mobile first means: change setting for big width later
*/
body {
  margin: 1px;
  margin-top: 2px;
  padding: 2px;
  color: black;
  background-color: white;
  font: 16px/1em 'PT Sans', sans-serif;
  text-align: center;
  line-height: 1.5rem;
  display: block;
  border-left: 2px solid green;
  border-right: 2px solid green;
  border-radius: 3px; }
  body #ooowrapper,
  body .container {
    line-height: 140%;
    max-width: 88rem;
    margin-left: auto;
    margin-right: auto; }

nav {
  color: white;
  background-color: black;
  display: block;
  z-index: 100;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem; }
  nav div {
    /*float: right;*/ }
    nav div a {
      color: black;
      background-color: white;
      margin-right: 0.9rem;
      min-width: 5rem;
      padding: 1px;
      border-radius: 4px;
      border-style: solid;
      border-width: 1px;
      border-color: #999;
      text-decoration: none;
      font-size: 1.8rem;
      font-weight: bold; }

nav a:hover {
  background-color: #ddd;
  color: black; }

a:hover {
  background-color: #ddd;
  color: black; }

.container {
  max-width: 1280px; }

div#ooowrapper {
  position: relative;
  /* for fix top? */
  margin-top: 4rem;
  width: 98%;
  text-align: left; }

/*footer
 *
    background-color: #dcdee3;
 */
footer {
  color: #000;
  font-family: 'PT Serif', serif;
  font-style: italic;
  text-align: center;
  font-size: 14px;
  padding-top: 10px;
  border-radius: 5px; }

/*tools*/
.clr {
  clear: both; }

/*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
.clear-fix:before,
.clear-fix:after {
  content: " ";
  display: table; }

.clear-fix:after {
  clear: both; }

/* For IE 6/7 (trigger hasLayout) */
.clear-fix {
  zoom: 1; }

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden;
  height: 100px; }
